<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.coflash">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Coflash">
        <activity
            android:name=".MapActivity"
            android:exported="false"></activity><!--改到這-->

        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->
        <!--這裡有改-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBD94V0z8kIT5PKKHpi7XIPgljG1xMn68k" /><!--改到這-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBD94V0z8kIT5PKKHpi7XIPgljG1xMn68k" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <tools:validation testUrl="http://www.coflash-app.com/coflash" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.coflash-app.com"
                    android:pathPrefix="/coflash" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Tag"
            android:label="搜尋" />
        <activity
            android:name=".SearchResultsActivity"
            android:label="搜尋" />
        <activity
            android:name=".Myinfo"
            android:exported="false" />
        <activity
            android:name=".Collect"
            android:exported="false" />
        <activity
            android:name=".Plus"
            android:label="Food" />
        <activity
            android:name=".Home"
            android:label="Food"></activity>
        <activity
            android:name=".Changeaddress"
            android:label="Food" />
        <activity android:name=".mytitle" />
        <activity android:name=".missionlist" />
        <activity android:name=".AccountSafety" />
        <activity android:name=".addcoin" />
        <activity android:name=".follow" />
        <activity android:name=".Pushlist" />
        <activity android:name=".NoticeSetting" />
        <activity android:name=".Notice" />
        <activity android:name=".Setting" />
        <activity android:name=".TermOfUse" />
        <activity android:name=".PushAddress" />
        <activity android:name=".Classify" />
        <activity android:name=".ClassifyTag" />
        <activity android:name=".ImageAdapter" />
        <activity android:name=".AllLabels" />
        <activity android:name=".HotLabels" />
        <activity android:name=".Everyday" />
        <activity android:name=".AddDiamond" />
    </application>

</manifest>